{% extends "memory/base.html" %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <a href="{% url 'memory:gallery' %}" 
            class="btn btn-dark my-3">Вернутся в галлерею</a>
            <div class="card">


                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group m-3">
                        <label>Ваши Впечетления</label>
                        <input required name="description" type="text" placeholder="Введите свои впечетления" 
                        class="form-control-file">
                    </div>

                    <div class="form-group m-3">
                        <label>Выберете категорию</label>
                        <select name="category" class="form-control-file">
                            <option value="none">Выберете категорию</option>

                            {% for category in categories %}
                                <option value="{{category.id}}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group m-3">
                        <label>Создать новую категорию</label>
                        <input name="category_new" type="text" placeholder="Создать новую категорию" 
                        class="form-control-file">
                    </div>

                    <div class="form-group m-3">
                        <label>Загрузите изображение</label>
                        <input required name="image" type="file" class="form-control-file">
                    </div>

                    <div class="form-group m-3">
                        <label>Выберите местоположение на карте</label>
                        <div id="map" style="height: 300px;"></div>
                        <input id="id_latitude" name="latitude" value="">
                        <input id="id_longitude" name="longitude" value="">
                        <input id="id_address" name="address" value="">
                    </div>

                    <button type="submit" class="btn btn-primary m-3">Сохранить новое воспоминание</button>

                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://api-maps.yandex.ru/2.1/?apikey=6f23e260-3f4c-4ffb-9804-554d9b4dcbf9&lang=ru_RU" type="text/javascript">
</script>
<script>
  ymaps.ready(init);

  function init() {
    var map = new ymaps.Map('map', {
      center: [0, 0],
      zoom: 2
    });

    var placemark = new ymaps.Placemark([0, 0], {
      hintContent: 'Перетащите метку для выбора местоположения'
    }, {
      draggable: true
    });

    map.geoObjects.add(placemark);

    placemark.events.add('dragend', function (e) {
      var coords = placemark.geometry.getCoordinates();
      document.getElementById('id_latitude').value = coords[0];
      document.getElementById('id_longitude').value = coords[1];
    
      ymaps.geocode(coords).then(function (res) {
        var firstGeoObject = res.geoObjects.get(0);

        // Используйте getCountry() и getAdministrativeAreas() для получения адреса
        var country = firstGeoObject.getCountry();
        var adminAreas = firstGeoObject.getAdministrativeAreas();

        // Соберем адрес из полученных частей
        var address = [country, adminAreas.join(', ')].filter(Boolean).join(', ');

        // Выведем адрес в консоль для отладки
        console.log('Адрес:', address);

        // Установим адрес в поле формы
        document.getElementById('id_address').value = address;
      }).catch(function (error) {
        console.error('Ошибка геокодирования:', error);
      });
    });
    
  }
</script>
{% endblock content%}