{% extends "memory/base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col">

            <a href="{% url 'memory:gallery' %}" 
            class="btn btn-dark my-3">Вернутся в галлерею</a>
            <form action="{% url 'memory:delete' memory.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Удалить Воспоминание</button>
            </form>

            <div style="height: 90vh;">
                <img style="max-width: 100%; max-height: 100%;"
                    src="{{memory.image.url}}">
                    <p>{{ memory.description}}</p>
            </div>

            <div id="map" style="height: 300px; width: 500px; margin-bottom: 50%;">
                <p>{{ memory.latitude }}</p>
                <p>{{ memory.longitude }}</p>
                <p>{{ memory.address }}</p>
            </div>
            <script src="https://api-maps.yandex.ru/2.1/?apikey=6f23e260-3f4c-4ffb-9804-554d9b4dcbf9&lang=ru_RU" type="text/javascript"></script>
            
            <script>
                ymaps.ready(function () {
                    var map = new ymaps.Map('map', {
                        center: [{{ memory.latitude }}, {{ memory.longitude }}],
                        zoom: 10
                    });
            
                    var placemark = new ymaps.Placemark([{{ memory.latitude }}, {{ memory.longitude }}], {
                        hintContent: '{{ memory.address }}'
                    });
            
                    map.geoObjects.add(placemark);
                });
            </script>

        </div>
    </div>
</div>

{% endblock content%}