{% extends "memory/base.html" %}

{% block title %}{{ memory.title }}{% endblock title%}

{% block content %}
<style>
    .hak{
        position: static;
    }
    .col h3 {
        color: white;
    }
    .col p {
        color: white;
    }
</style>
<div class="m-5">
    <div class="container">
        <div>
            <div class="col">
                <div class="row justify-content-center">
                    <div class="col">
                        <img src="{{memory.image.url}}" class="image">
                        
                    </div>
                    <div class="col">
                        <h3>{{ memory.title }}</h3>
                        <div class="program-inner">
                            <p>{{ memory.description}}</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div id="map" style="height: 300px; width: 100%; margin-bottom: 10%;">
                    <p>{{ memory.address }}</p>
                </div>
                <div class="row justify-content-start">
                    <div class="col">
                        <a href="{% url 'memory:gallery' %}" 
                        class="btn btn-dark my-3">Вернутся в галлерею</a>
                    </div>
                    <div class="col">
                        <a href="{% url 'memory:update' memory.id %}" 
                        class="btn btn-info my-3">Редактировать</a>
                    </div>
                    <div class="col">
                        <a href="{% url 'memory:delete' memory.id %}" 
                        class="btn btn-danger my-3">Удалить</a>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>
<script src="https://api-maps.yandex.ru/2.1/?apikey=6f23e260-3f4c-4ffb-9804-554d9b4dcbf9&lang=ru_RU" type="text/javascript"></script>
                
<script>
    ymaps.ready(function () {
        var latitude = "{{ memory.latitude }}".replace(',', '.');
        console.log(latitude);
        var longitude = "{{ memory.longitude }}".replace(',', '.');
        console.log(longitude);
        console.log(parseFloat(latitude))
        var map = new ymaps.Map('map', {
            center: [parseFloat(latitude), parseFloat(longitude)],
            zoom: 8
        });
        var placemark = new ymaps.Placemark([parseFloat(latitude), parseFloat(longitude)], {
            hintContent: '{{ memory.address }}'
        });

        map.geoObjects.add(placemark);
    });
</script>
{% endblock content%}